 body {
   width: 100%;
   font-size: 12px;
   font-family: Arial, Helvetica, sans-serif;
   background: #fff;
   overflow-x: hidden;
 }

 @media (max-width: 1560px) {}

 @media (max-width: 1440px) {}

 @media (max-width: 1366px) {}

 @media (max-width: 1199px) {}

 @media (max-width: 990px) {}

 @media (max-width: 768px) {}

 * {
   margin: 0;
   padding: 0;
 }

 li {
   list-style: none;
 }

 img {
   border: none;
   display: block;
 }

 i,
 em {
   font-style: inherit;
 }

 .clear {
   clear: both;
 }

 .mtop10 {
   margin-top: 10px;
 }

 a {
   color: #000;
   text-decoration: none;

   &:hover {
     color: #facc16;
   }
 }

 .clearh {
   clear: both;
   height: 50px;
 }

 *:focus {
   outline: none;
 }


 @-webkit-keyframes spin {
   0% {
     -webkit-transform: rotate(0deg);
   }

   100% {
     -webkit-transform: rotate(360deg);
   }
 }

 @keyframes spin {
   0% {
     transform: rotate(0deg);
   }

   100% {
     transform: rotate(360deg);
   }
 }

 input:-webkit-autofill,
 input:-webkit-autofill:hover,
 input:-webkit-autofill:focus {
   -webkit-text-fill-color: rgb(255, 255, 255);
   transition: background-color 1000s ease-in-out 0s;
 }

 /* width */
 ::-webkit-scrollbar {
   width: 4px;
   border-radius: 24px;
   color: #7a8084;
 }

 /* Track */
 ::-webkit-scrollbar-track {
   /* background: #f1f1f1;  */
 }

 /* Handle */
 ::-webkit-scrollbar-thumb {
   background: #888;
 }

 /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
   background: #555;
 }

 .headerbox {
   position: relative;
   background: rgba(255, 255, 255, 0.9);
   padding: clamp(2.5rem, 1.75rem + 3.75vw, 6.25rem) 0;
   margin-top: 28vh
 }

 .headerbox>.fbg-atit {

   padding-top: 0;
   text-transform: uppercase;
 }

 .fbg-abg {
   border-top: 1px solid;
 }

 * {
   box-sizing: border-box;
 }

 /* CSS */
 .button-64 {
   align-items: center;
   background-image: linear-gradient(144deg,
       #af40ff,
       #5b42f3 50%,
       #00ddeb);
   border: 0;
   border-radius: 8px;
   box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
   box-sizing: border-box;
   color: #ffffff;
   display: flex;
   font-family: Phantomsans, sans-serif;
   font-size: 20px;
   justify-content: center;
   line-height: 1em;

   padding: 3px;
   text-decoration: none;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
   white-space: nowrap;
   cursor: pointer;
   align-items: center;
 }

 .button-64:active,
 .button-64:hover {
   outline: 0;
   box-shadow: 0px 0px 6px #000;
 }

 .button-64>span {
   background-color: rgb(5, 6, 45);
   padding: 16px 24px;
   border-radius: 6px;
   width: 100%;
   height: 100%;
   transition: 300ms;
   display: flex;
   align-items: center;
 }

 .button-64 .btnIcon {
   width: 40px;
   height: 40px;
   display: inline-block;
   margin-right: 20px;
   background: white;
   padding: 2px;
   border-radius: 50%;
 }

 .button-64:hover span {
   background: none;
 }

 /* .iconBtn:hover img {
    border: 1px solid #000;
  } */

 .fbg-bbg>.fbg-a {
   display: flex;
   justify-content: center;
 }

 ul {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(300px, auto));
   justify-content: center;
   gap: 30px;
   /* justify-content: space-evenly; */
 }

 .fbg-c {
   max-width: unset;
 }

 .headerbg {
   width: 100%;
   background: #161616;
   position: fixed;
   left: 0;
   top: 0;
   z-index: 999;
   border-bottom: 1px solid #ddd;


   .header {
     width: 95%;
     max-width: 800px;
     margin: 0 auto;
     position: relative;

     a {
       &.on {
         color: #fff;
       }
     }

     .nav {
       padding: 20px 0;
       position: relative;
       display: flex;
       align-items: center;
       justify-content: space-between;

       a {
         font-size: clamp(0.875rem, 0.825rem + 0.25vw, 1.125rem);
         color: #999;
         display: inline-block;
         line-height: 46px;

         position: relative;
         z-index: 99;
         cursor: pointer;

         &:nth-child(2) {
           margin-right: 10%;
         }

         &:nth-child(3) {
           margin-left: 10%;
         }
       }
     }

     .logo {
       position: absolute;
       left: 0;
       right: 0;
       z-index: 99;
       width: 48px;
       height: 100%;
       margin: 0 auto;
       display: flex;
       align-items: center;
       justify-content: center;

       img {
         height: 48px;
         width: 48px;
         object-fit: contain;
         opacity: 1;
         transition: 0.3s;
       }

       &:hover {
         img {
           opacity: 0.5;
         }
       }
     }
   }
 }


 .fbg-abg {
   height: 100vh;
   width: 100%;
   background: url(../images/bg.jpg) no-repeat center 0;
   background-size: cover;
   position: relative;
 }

 .fbg-atit {
   padding-top: 250px;
   text-align: center;

   span {

     color: #000;
     font-weight: bold;
     position: relative;
     padding: 0 20px;

     em {
       font-size: clamp(1.375rem, 0.775rem + 3vw, 4.375rem);
       position: relative;
       z-index: 2;
     }
   }

   tt {
     display: inline-block;
     width: 100%;
     height: 10px;
     background: #fff;
     position: absolute;
     left: 0;
     bottom: 10px;
     z-index: 1;
   }
 }

 .fbg-a {
   width: 95%;
   max-width: 1000px;
   margin: clamp(1.25rem, 0.625rem + 3.13vw, 4.375rem) auto 0;
   text-align: center;

   h2 {
     font-size: 36px;
     font-weight: 300;
     max-width: 70%;
     margin: 0 auto;
     line-height: 50px;
   }

   p {
     margin: 20px 0;
     font-size: clamp(1.125rem, 1.025rem + 0.5vw, 1.625rem);
     max-width: 84%;
     margin: 20px auto 0;
     font-weight: 500;
     color: #999;
     letter-spacing: 2px;
     line-height: 1.2;
   }
 }

 .fbg-bbg {
   background: #f4f5f9 url(../images/bg3.jpg) no-repeat center 0;
   background-size: auto 100%;
   position: relative;

   .fbg-a {
     padding: 0px 0 80px;
   }

   .fbg-but {
     bottom: 2%;
   }
 }

 .fbg-but {
   text-align: center;
   width: 100%;
   position: absolute;
   left: 0;
   bottom: 0;

   span {
     border-left: 7px solid transparent;
     border-right: 7px solid transparent;
     border-top: 10px solid #333;
     cursor: pointer;
   }
 }

 .fbg-btit {
   padding-top: clamp(3.125rem, 2.5rem + 3.13vw, 6.25rem);
   text-align: center;
   font-size: clamp(1.375rem, 1.275rem + 0.5vw, 1.875rem);
   color: #9fa9b5;
 }

 .fbg-b {
   width: 95%;
   max-width: 1000px;
   margin: 70px auto 0;
   font-size: 70px;
   color: #000;
   text-align: center;
   line-height: 100px;
 }

 .fbg-cbg {
   background: #fff;
   position: relative;
   padding-bottom: clamp(3.125rem, 2.5rem + 3.13vw, 6.25rem);

   .fbg-but {
     position: relative;
     bottom: 0;
   }
 }

 .fbg-c {
   width: 95%;
   margin: 0 auto;
   padding: clamp(3.125rem, 2.5rem + 3.13vw, 6.25rem) 0px clamp(1.875rem, 1.75rem + 0.63vw, 2.5rem);

   ul {

     li {
       width: 33%;
       height: 400px;
       float: left;
       display: flex;
       align-items: center;
       justify-content: center;
       text-align: center;

       button {
         display: block;
         width: 85%;
         height: 90%;
         border: 1px solid #ddd;
         position: relative;
       }

       img {
         width: 100%;
         height: 100%;
       }

       span {
         display: flex;
         align-items: center;
         justify-content: center;
         color: #fff;
         display: block;
         width: 100%;
         height: 100%;
         background: #000;
         opacity: 0;
         transition: 0.3s;
         position: absolute;
         left: 0;
         top: 0;
         z-index: 99;
       }

       &:hover {
         span {
           opacity: 0.7;
         }
       }
     }
   }
 }

 /* .fbg-cm{border:3px solid #e4e5e9;} */
 /* .fbg-c ul li a{display:block;width:85%;height:90%;border:1px solid #ddd;position:relative;} */
 .fbg-dbg {
   width: 100%;
   height: clamp(18.75rem, 13.75rem + 25vw, 32.5rem);
   background: url(../images/bg2.jpg) no-repeat center;
   background-size: cover;
   overflow: hidden;

   display: flex;
   align-items: center;
   justify-content: center;
 }

 .fbg-d {
   width: 95%;
   max-width: 1000px;
   margin: 0 auto;
   text-align: center;
   display: flex;
   justify-content: space-around;

   a {
     margin-top: clamp(3.125rem, 1.989rem + 5.68vw, 6.25rem);

     span {
       padding: 20px clamp(1.875rem, 0.966rem + 4.55vw, 4.375rem);
       background: #000;
       font-size: clamp(1rem, 1rem + 0.91vw, 1.875rem);
       color: #fff;
     }
   }
 }

 .fbg-ebg {
   background: #161616;
   //  padding: clamp(1.563rem, 1.25rem + 1.56vw, 3.125rem) 0;
   text-align: center;
   font-size: 16px;
   color: #b1b1b1;
   overflow: hidden;
 }

 .fbg-e {
   width: 95%;
   max-width: 1000px;
   margin: 0 auto;
   position: relative;

   display: flex;
   align-items: center;

   .pic {
     width: clamp(10rem, 8.295rem + 8.52vw, 14.688rem);

     img {
       width: 100%;
     }
   }

   .text {
     font-size: 16px;
   }
 }

 .card {
   flex-shrink: 0;
   flex-grow: 0;
   position: relative;
   width: 300px;
   height: 450px;
   overflow: hidden;
   background-color: var(--border-color);
   border-radius: 20px;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   flex-direction: column;
   color: var(--font_color);
   transition: 0.3s all;
   cursor: pointer;

   &:hover {
     box-shadow: 0 0 30px #2c2c2c;

     .photo {
       width: 120px;
       height: 120px;
       top: 30px;
       border-radius: 50%;
       box-shadow: 0 0 20px #111;

       &::before {
         display: none;
       }
     }

     h1 {
       position: absolute;
       top: 170px;
     }
   }

   h1 {
     position: absolute;
     top: 380px;
     transition: 0.5s;
   }

   &>h2 {}

   p {
     width: 90%;
     text-indent: 2em;
     font-size: 16px;
     margin-bottom: 10px;
     line-height: 30px;
     height: 180px;
     overflow: auto;
     margin-top: 200px;
   }

   a {
     color: var(--font_color);
     text-decoration: none;
     padding: 12px 36px;
     border: 1px solid var(--a_border_color);
     border-radius: 8px;

     &:hover {
       color: #fff;
       background-color: var(--a_hover_background_color);
     }
   }
 }

 .photo {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0px;
   border-radius: 0%;
   overflow: hidden;
   transition: 0.5s;

   &::before {
     position: absolute;
     content: "";
     width: 100%;
     height: 100%;
     background-image: linear-gradient(to top, #333, transparent);
   }

   img {
     width: 100%;
     height: 100%;
     object-fit: cover;
   }
 }

 :root {
   --background-color: #2c3e50;
   --border-color: #7591ad;
   --text-color: #34495e;
   --color1: #ec3e27;
   --color2: #fd79a8;
   --color3: #0984e3;
   --color4: #00b894;
   --color5: #fdcb6e;
   --color6: #e056fd;
   --color7: #f97f51;
   --color8: #bdc581;
   --a_border_color: #86a3b3;
   --h2_border_color: #8ea2b8;
   --a_hover_background_color: #86a3b3;
   --font_color: #e8f6fd;
 }

 @media (max-width: 1560px) {}

 @media (max-width: 1440px) {}

 @media (max-width: 1366px) {}

 @media (max-width: 1199px) {}

 @media (max-width: 990px) {}

 @media (max-width: 768px) {
   .headerbg .header {
     width: 90%;
   }

   .headerbg .header .nav {
     padding: 10px 0;
   }

   .fbg-a {
     p {
       max-width: 100%;
     }
   }

   .headerbg .header .nav a:nth-child(2) {
     margin-right: 7%;
   }

   .headerbg .header .nav a:nth-child(3) {
     margin-left: 7%;
   }

   .fbg-d {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;

     a {
       margin-top: 0;

       &:nth-child(2) {
         margin-top: 20px;
       }

       span {
         padding-top: 10px;
         padding-bottom: 10px;
       }
     }
   }

   .button-64 .btnIcon {
     width: 24px;
     height: 24px;
     margin-right: 10px;
   }

   .fbg-e {

     justify-content: center;

     .text {
       font-size: 12px;
     }
   }

   .button-64 {
     font-size: 16px;
   }
 }