@charset "utf-8";
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  background: #fff;
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
img {
  border: none;
  display: block;
}
i,
em {
  font-style: inherit;
}
.clear {
  clear: both;
}
.mtop10 {
  margin-top: 10px;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #facc16;
}
.clearh {
  clear: both;
  height: 50px;
}
*:focus {
  outline: none;
}

.headerbg {
  width: 100%;
  /* background: #fff; */
  background: #161616;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  border-bottom: 1px solid #ddd;
}
.header {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}
.nav {
  padding: 20px 0;
  position: relative;
}
.nav a {
  font-size: 18px;
  color: #999;
  display: inline-block;
  line-height: 46px;
  margin-right: 9%;
  position: relative;
  z-index: 99;
  cursor: pointer;
}
.nav a:nth-child(3) {
  margin: 0;
  position: absolute;
  right: 18%;
}
.nav a:nth-child(4) {
  margin: 0;
  position: absolute;
  right: 0;
}
.header a.on {
  /* color: #000; */
  color: #fff;
}
.header .logo {
  position: absolute;
  left: 50%;
  top: 20px;
  z-index: 99;
  /* margin-left: -95px; */
  line-height: 20px;
}
.header .logo img {
  height: 48px;
  width: 48px;
  object-fit: contain;
  opacity: 1;
  transition: 0.3s;
}
.header .logo:hover img {
  opacity: 0.5;
}
.fbg-abg {
  height: 1080px;
  background: url(../images/bg.jpg) no-repeat center 0;
  background-size: auto 100%;
  position: relative;
}
.fbg-atit {
  padding-top: 250px;
  text-align: center;
}
.fbg-atit span {
  font-size: 70px;
  color: #000;
  font-weight: bold;
  position: relative;
  padding: 0 20px;
}
.fbg-atit span em {
  position: relative;
  z-index: 2;
}
.fbg-atit tt {
  display: inline-block;
  width: 100%;
  height: 10px;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: 10px;
  z-index: 1;
}
.fbg-a {
  width: 95%;
  max-width: 1000px;
  margin: 70px auto 0;
  text-align: center;
}
.fbg-bbg .fbg-a {
  padding: 0px 0 80px;
}
.fbg-bbg .fbg-but {
  bottom: 2%;
}
.fbg-a h2 {
  font-size: 36px;
  font-weight: 300;
  max-width: 70%;
  margin: 0 auto;
  line-height: 50px;
}
.fbg-a p {
  font-size: 26px;
  max-width: 84%;
  margin: 20px auto 0;
  font-weight: 500;
  /* line-height: 28px; */
  color: #999;
  letter-spacing: 2px;
  line-height: 40px;
}
.fbg-but {
  text-align: center;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 18%;
}
.fbg-but span {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 10px solid #333;
  cursor: pointer;
}
.fbg-bbg {
  /* height: 1080px; */
  background: #f4f5f9 url(../images/bg3.jpg) no-repeat center 0;
  background-size: auto 100%;
  position: relative;
}
.fbg-btit {
  padding-top: 100px;
  text-align: center;
  font-size: 30px;
  color: #9fa9b5;
}
.fbg-b {
  width: 95%;
  max-width: 1000px;
  margin: 70px auto 0;
  font-size: 70px;
  color: #000;
  text-align: center;
  line-height: 100px;
}
.fbg-cbg {
  min-height: 1080px;
  background: #fff;
  position: relative;
}
.fbg-c {
  width: 95%;
  margin: 0 auto;
  padding-top: 100px;
}
/* .fbg-cm{border:3px solid #e4e5e9;} */
.fbg-c ul {
  padding: 20px 12px;
}
.fbg-c ul li {
  width: 33%;
  height: 400px;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
/* .fbg-c ul li a{display:block;width:85%;height:90%;border:1px solid #ddd;position:relative;} */
.fbg-c ul li button {
  display: block;
  width: 85%;
  height: 90%;
  border: 1px solid #ddd;
  position: relative;
}
.fbg-c ul li img {
  width: 100%;
  height: 100%;
}
.fbg-c ul li span {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  transition: 0.3s;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
}
.fbg-c ul li:hover span {
  opacity: 0.7;
}
.fbg-cbg .fbg-but {
  bottom: 8%;
}
.fbg-dbg {
  height: 520px;
  background: url(../images/bg2.jpg) no-repeat center 0;
  background-size: auto 100%;
}
.fbg-d {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 250px;
  text-align: center;
}
.fbg-d span {
  padding: 20px 70px;
  background: #000;
  font-size: 30px;
  color: #fff;
}
.fbg-ebg {
  /* background: #000; */
  background: #161616;
  padding: 50px 0;
  text-align: center;
  font-size: 16px;
  color: #b1b1b1;
}
.fbg-e {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}
.fbg-e span {
  position: absolute;
  left: 0;
  /* top: -30px; */
  top: -40px;
}

.fbg-e img {
  /* width: 80px; */
  width: auto;
  height: 100px;
}

.card {
  /* flex布局下元素不按比例缩放 */
  flex-shrink: 0;
  flex-grow: 0;
  position: relative;
  width: 300px;
  height: 450px;
  overflow: hidden;
  /* margin: 20px; */
  background-color: var(--border-color);
  border-radius: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* flex 子元素 纵向排列 */
  flex-direction: column;
  /* 增加个阴影 */

  /* 同意给字体价格颜色 */
  color: var(--font_color);
  transition: 0.3s all;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 0 30px #2c2c2c;
}

.photo {
  position: absolute;
  /* 默认为放大 */
  width: 100%;
  height: 100%;
  top: 0px;
  border-radius: 0%;
  overflow: hidden;
  transition: 0.5s;
}

.photo::before {
  /* 通过before增加渐变背景实现遮罩，让文字默认看起来清晰一些 */
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #333, transparent);
}
.card:hover .photo::before {
  /* 缩小时隐藏 */
  display: none;
}

.photo img {
  /* 图片高宽均为100% */
  /* 然后按照cover缩放，裁切长边 */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card:hover .photo {
  /* 鼠标移上变小 */
  width: 120px;
  height: 120px;
  top: 30px;
  border-radius: 50%;
  box-shadow: 0 0 20px #111;
}

.card h1 {
  position: absolute;
  top: 380px;
  transition: 0.5s;
}

.card:hover h1 {
  position: absolute;
  top: 170px;
}

.card > h2 {
  /* margin-top: 220px;
  width: 80%;
  font-weight: normal;
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--h2_border_color); */
}

.card p {
  width: 90%;
  /* 段落缩进2个字符大小 */
  text-indent: 2em;
  font-size: 16px;
  margin-bottom: 10px;
  line-height: 30px;
  height: 180px;
  overflow: auto;
  margin-top: 200px;
}

.card a {
  color: var(--font_color);
  text-decoration: none;
  padding: 12px 36px;
  border: 1px solid var(--a_border_color);
  border-radius: 8px;
}

.card a:hover {
  color: #fff;
  background-color: var(--a_hover_background_color);
}

:root {
  --background-color: #2c3e50;
  --border-color: #7591ad;
  --text-color: #34495e;
  --color1: #ec3e27;
  --color2: #fd79a8;
  --color3: #0984e3;
  --color4: #00b894;
  --color5: #fdcb6e;
  --color6: #e056fd;
  --color7: #f97f51;
  --color8: #bdc581;
  --a_border_color: #86a3b3;
  --h2_border_color: #8ea2b8;
  --a_hover_background_color: #86a3b3;
  --font_color: #e8f6fd;
}
